@media (max-width: 480px) {
    div.header {
        /*margin-top: 56px;*/
    }

    .br-mobile {
        display: inline;
    }

    .info-email,
    .stamp {
        display: none;
    }

    .sun-glow {
        width: 288px;
        height: 288px;
        top: 230px;
    }

    .hero {
        height: 130px;
    }

    div.container {
        margin-top: 0px;
        padding: 90px 0px 8px;
    }

    div.container .sun {
        /*width: 820px;
        height: 820px;*/
    }

    div.footer .footer-content {
        font-size: 12px;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
        height: 216px;
        line-height: 54px;
        margin-bottom: 24px;
    }

    .hero .text {
        font-size: 10px;
        line-height: 9px;
        top: 45%;
        left: 20%;
        padding: 8px;
    }

    .paragraph p {
        line-height: 20px;
        font-size: 14px;
        font-style: normal;
        margin-block-start: 6px;
        margin-block-end: 6px;
    }

    .logo-track,
    .logo-list {
        gap: 40px;
    }


    img.block-1 {
        right: 10%;
        top: 80%;
        height: 15px;
    }

    img.block-2 {
        top: 107%;
        left: 15%;
        height: 24px;
    }

    img.block-3 {
        top: 5%;
        left: 60%;
        height: 24px;
    }

    .popup-box {
        width: calc(100% - 52px);
        padding: 24px;
    }

}

@media (min-width : 480px) and (max-width : 768px) {
    .stamp {
        bottom: -90px;
    }

    h1 {
        font-size: 48px;
    }

    div.container .content {
        max-width: 400px;
    }
}

@media (min-width : 768px) and (max-width : 1024px) {
    .stamp {
        bottom: -125px;
    }

    h1 {
        /*font-size: 40px;*/
    }

    img.block-2 {
        top: 100%;
    }

    div.container .content {
        max-width: 645px;
    }
}

@media (min-width : 768px) {
    /*.sub-heading {
        display: block;
    }*/

    div.container .content {
        text-align: center;
    }
}




.pre-hidden {
    opacity: 0;
}

.pre-hidden-2 {
    display: none;
    opacity: 0;
}